.burgerContainer{
	text-align: left;
}

.header{
	margin-bottom: 20px !important; 
}

input{
	border: solid 1px #ccc !important
	line-height: 3% !important;
	margin-left: 1% !important; 
}

#logo{
	width: 50%;
	height: 20%;
	margin-top: 10px;
}

li{
	display: block;
	margin: 10px;
	/*text-align: left;*/
	font-size: 22px;
}

.container{
	text-align: center;
}

#submitBtn{
	margin-top: -.5%;
}